.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

.start-node {
  background-color: rgb(126, 136, 126);
}

.end-node {
  background-color: rgb(0, 0, 0);
}